@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        /*@apply bg-background text-foreground;*/
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    /* ===== UTILITIES */
    /* =====  REACT DATE PICKER OVERRIDES */
    .date-picker {
        @apply overflow-hidden border-transparent w-full
        text-sm rounded-md outline-none !important
    }

    .markdown {
        @apply max-w-full prose;
        /*  dark:prose-p:text-light-700 dark:prose-ol:text-light-700 dark:prose-ul:text-light-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500  */
    }

    .markdown-editor {
        @apply prose max-w-full prose-p:m-0;
    }

    /* dark:prose-headings:text-white dark:prose-p:text-light-700 dark:prose-ul:text-light-700 dark:prose-ol:text-light-700 dark:prose-strong:text-white dark:prose-blockquote:text-light-700  prose-headings:text-dark-400 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500 prose-blockquote:text-dark-500  */
}

.p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
}

/* React Date Picker */
.react-datepicker__input-container input {
    background-color: #ffffff !important;
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.react-datepicker-wrapper.date-picker {
    display: flex;
    align-items: center;
}

.react-datepicker {
    background-color: #ffffff !important;
    border: none !important;
}

.react-datepicker__header {
    background-color: #6366f1 !important;
    color: #ffffff !important;
}

.react-datepicker__current-month {
    color: #ffffff !important;
}

.react-datepicker__day-name {
    color: #ffffff !important;
}

.react-datepicker-time__header {
    color: #ffffff !important;
}

.react-datepicker__day--today {
    background-color: #6366f1 !important;
    color: #ffffff !important;
    opacity: 0.8;
    border-radius: 4px
}

.react-datepicker__triangle {
    fill: #6366f1 !important;
    color: #6366f1 !important;
    stroke: #6366f1 !important;
}

.react-datepicker__time-list-item:hover {
    background-color: #6366f1 !important;
    color: white;
}

.react-datepicker__day--selected {
    background-color: #6366f1 !important;
    color: #ffffff !important;
    border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
    background-color: #6366f1 !important;
}

.react-datepicker__time-list-item {
    display: flex !important;
    align-items: center !important;
}

.react-datepicker::-webkit-scrollbar-thumb {
    background-color: #6366f1 !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: transparent !important;
    color: #000000 !important;
}

.markdown a {
    color: #1da1f2;
}

/*Markdown-Editor*/
.markdown a,
code {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    padding: 2px;
    color: #ff7000 !important;
}

.markdown pre {
    display: grid;
    width: 100%;
}

.markdown pre code {
    width: 100%;
    display: block;
    overflow-x: auto;

    color: inherit !important;
}

/* Scrollbar style */
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    scrollbar-width: thin; /* Firefox support */
    scrollbar-color: #6366f1 #f1f1f1; /* Scrollbar color (thumb and track) */
}

::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #6052ba;
    border-radius: 3px;
}